connector/agdref/static/MiseAJourAGDREF.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions targetNamespace="{0}/majAGDREF"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="{0}/majAGDREF">

	<wsdl:types>
		<xs:schema targetNamespace="{0}/majAGDREF"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="qualified" xmlns:tns="{0}/majAGDREF">

			<xs:element name="procedureEloignementRequest" type="tns:procedureEloignementRequest"></xs:element>
			<xs:element name="procedureReadmissionRequest" type="tns:procedureReadmissionRequest"></xs:element>
			<xs:element name="delivranceDocumentSejourRequest" type="tns:delivranceDocumentSejourRequest"></xs:element>
			<xs:element name="enregistrementNaturalisationRequest" type="tns:enregistrementNaturalisationRequest"></xs:element>
			<xs:element name="miseAJourAdresseRequest" type="tns:miseAJourAdresseRequest"></xs:element>
			<xs:element name="enregistrementRetraitDocumentAsileRequest" type="tns:enregistrementRetraitDocumentAsileRequest"></xs:element>
			<xs:element name="SIAsileResponse" type="tns:SIAsileResponse"></xs:element>

			<xs:complexType name="procedureEloignementRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="procedureReadmissionRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="delivranceDocumentSejourRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="enregistrementNaturalisationRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="miseAJourAdresseRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="enregistrementRetraitDocumentAsileRequest">
				<xs:sequence>
					<xs:element name="in0" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="SIAsileResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string"></xs:element>
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>

	<!-- ============================= -->
	<!-- ========== MESSAGES ======== -->
	<!-- ============================= -->
	<wsdl:message name="procedureEloignementRequest">
		<wsdl:part element="tns:procedureEloignementRequest" name="procedureEloignementRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="procedureReadmissionRequest">
		<wsdl:part element="tns:procedureReadmissionRequest" name="procedureReadmissionRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="delivranceDocumentSejourRequest">
		<wsdl:part element="tns:delivranceDocumentSejourRequest" name="delivranceDocumentSejourRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="enregistrementNaturalisationRequest">
		<wsdl:part element="tns:enregistrementNaturalisationRequest" name="enregistrementNaturalisationRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="miseAJourAdresseRequest">
		<wsdl:part element="tns:miseAJourAdresseRequest" name="miseAJourAdresseRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="enregistrementRetraitDocumentAsileRequest">
		<wsdl:part element="tns:enregistrementRetraitDocumentAsileRequest"
			name="enregistrementRetraitDocumentAsileRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="SIAsileResponse">
		<wsdl:part element="tns:SIAsileResponse" name="SIAsileResponse"></wsdl:part>
	</wsdl:message>

	<!-- ========================== -->
	<!-- ========== PORT ======== -->
	<!-- ========================== -->
	<wsdl:portType name="MiseAJourAGDREF">
		<wsdl:operation name="procedureEloignement">
			<wsdl:input message="tns:procedureEloignementRequest"
				name="procedureEloignementRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

		<wsdl:operation name="procedureReadmission">
			<wsdl:input message="tns:procedureReadmissionRequest"
				name="procedureReadmissionRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

		<wsdl:operation name="delivranceDocumentSejour">
			<wsdl:input message="tns:delivranceDocumentSejourRequest"
				name="delivranceDocumentSejourRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

		<wsdl:operation name="enregistrementNaturalisation">
			<wsdl:input message="tns:enregistrementNaturalisationRequest"
				name="enregistrementNaturalisationRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

		<wsdl:operation name="miseAJourAdresse">
			<wsdl:input message="tns:miseAJourAdresseRequest" name="miseAJourAdresseRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

		<wsdl:operation name="enregistrementRetraitDocumentAsile">
			<wsdl:input message="tns:enregistrementRetraitDocumentAsileRequest"
				name="enregistrementRetraitDocumentAsileRequest" />
			<wsdl:output message="tns:SIAsileResponse" name="SIAsileResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<!-- ========================== -->
	<!-- ========== BINDING ======== -->
	<!-- ========================== -->
	<wsdl:binding name="MiseAJourAGDREFPort" type="tns:MiseAJourAGDREF">
		<soap12:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="procedureEloignement">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="procedureEloignementRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="procedureReadmission">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="procedureReadmissionRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="delivranceDocumentSejour">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="delivranceDocumentSejourRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="enregistrementNaturalisation">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="enregistrementNaturalisationRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="miseAJourAdresse">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="miseAJourAdresseRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="enregistrementRetraitDocumentAsile">
			<soap12:operation soapAction="" type="document" />
			<wsdl:input name="enregistrementRetraitDocumentAsileRequest">
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SIAsileResponse">
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="MiseAJourAGDREFService">
		<wsdl:port binding="tns:MiseAJourAGDREFPort" name="MiseAJourAGDREFPort">
			<soap12:address
				location="{0}/majAGDREF" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
