connector/dna/static/MajPortailResponseParams.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="{0}/MajPortailResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="{0}/MajPortailResponse">
  <xs:element name="REPONSE" nillable="true" type="tns:ReponsePortail"/>
  <xs:complexType name="ReponsePortail">
    <xs:sequence maxOccurs="1" minOccurs="1">
      <xs:element name="CODE_ERREUR" type="xs:string"/>
      <xs:element name="LIBELLE_ERREUR" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
